flows/user-data/nr-flows.json
[{"id":"7a7c7930.bea188","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"29fc7bef.95faf4","type":"http in","z":"7a7c7930.bea188","name":"test modler","url":"/demo","method":"post","upload":false,"swaggerDoc":"","x":170,"y":120,"wires":[["4a183320.acdfdc","5227e5cc.64bddc"]]},{"id":"4a183320.acdfdc","type":"function","z":"7a7c7930.bea188","name":"add value","func":"msg.payload.result=msg.playlomsg.payload.A+msg.payload.B\nconsole.log(msg.payload.result);\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":200,"wires":[["ccad8ac1.acc4b8"]]},{"id":"ccad8ac1.acc4b8","type":"http response","z":"7a7c7930.bea188","name":"","statusCode":"","headers":{},"x":540,"y":260,"wires":[]},{"id":"5227e5cc.64bddc","type":"debug","z":"7a7c7930.bea188","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":110,"y":280,"wires":[]}]